
.c-ScrollBox-outer {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.c-ScrollBox-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.c-ScrollBox-origin-start {
  justify-content: start;
}

.c-ScrollBox-origin-end {
  justify-content: end;
}
